/* ExpenseList.css */
.expense-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
  }
  
  h4 {
    margin-top: 1rem;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  